[submodule "LoochiApp/UIImageView-GeometryConversion"]
	path = LoochiApp/UIImageView-GeometryConversion
	url = https://github.com/sarfata/UIImageView-GeometryConversion.git
[submodule "LoochiApp/CocoaLumberjack"]
	path = LoochiApp/CocoaLumberjack
	url = https://github.com/robbiehanson/CocoaLumberjack.git
